.services-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.services-box {
  background-color: #021522;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  padding: 10px;
  border-radius: 2%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media only screen and (min-width: 768px) {
  .services-box {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1024px) {
  .services-box {
    padding: 20px;
  }
}
.custom-card {
  background-color: white;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  padding: 10px 12px 10px 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.custom-card p {
  font-size: 0.8rem;
  margin-bottom: 0px;
}

.custom-card h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 3px;
}

.description-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.description-box h2 {
  align-self: flex-start;
}

.description-box p {
  display: inline-block;
}

div img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 15px;
}
